.sale_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  background-color: #a1e2eb;
}

.sale_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-left: 50px;
}

.sale_info p:nth-child(1) {
  font-size: 80px;
}

.sale_info p:nth-child(2) {
  font-size: 63px;
}

.sale_image {
  width: 500px;
  height:fit-content;
  margin-right: 150px;
}

.sale_btn {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 82px;
  background-color: #fff;
  padding: 25px 50px;
  border-radius: 13px;
  font-size: 25px;
  line-height: 130%;
  color: var(--main-text-color);
  text-decoration: none;
}

.sale_btn:hover {
  background-color: var(--green-color);
  color: #fff;
}

.get_discount_wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  height: 476px;
  background: linear-gradient(262.69deg, #339933 -0.43%, #006300 104.36%);
}

.get_discount {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 475px;
  margin: 0 auto;
}

.get_discount_title {
  color: var(--white-color);
  font-size: 50px;
  line-height: 120%;
  width: 100%;
}

.phone_input {
  height: 75px;
  width: 100%;
  background-color: var(--white-color);
  color: var(--main-text-color);
  border: none;
  border-radius: 25px;
  font-size: 30px;
  padding: 0 25px;

  box-shadow: 0 -150px 70px -120px rgb(194, 0, 0) inset,
              0 -220px 70px -120px rgb(228, 168, 30) inset,
              0 -280px 70px -120px gold inset;
  animation: phone_input_bg 2s infinite alternate;
}

.phone_input:focus {
  animation: none;
  box-shadow: none;
}

@keyframes phone_input_bg {
  50% {
    box-shadow: 0 -140px 70px -120px gold inset,
                0 -210px 70px -120px rgb(228, 168, 30) inset,
                0 -280px 70px -120px rgb(194, 0, 0) inset;
  }
}

.get_discount_btn {
  margin-top: 25px;
  width: 100%;
  height: 75px;
  border-radius: 25px;
  font-size: 29px;
  background-color: transparent;
  border: 1px solid var(--white-color);
  cursor: pointer;
}

.categories {
  height: 476px;
}

.categories_wrapper,
.sale_wrapper {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  gap: 25px;
  max-width: var(--max-witdh);
}

.categories_title,
.sale_title {
  display: flex;
  gap: 96px;
  align-items: center;
}

.categories_title .btn {
  padding: 7px 6px;
  border: 1px solid var(--main-text-color);
  text-decoration: none;
  color: var(--main-text-color);
}

@media (max-width: 480px) {
  .sale_banner {
    flex-direction: column-reverse;
    width: 480px;
    height: auto;
  }
  
  .sale_info {
    display: none;
  }
    
  .sale_btn {
    margin: 20px 0;
  }

  .sale_image {
    width: 404px;
    height:fit-content;
    margin: 0 auto;
    padding: 20px;
  }

  .gnome_image {
    display: none;
  }
  
  .get_discount_title {
    text-align: center;
  }
}