.content {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr 250px;
  justify-content: end;
  align-items: center;
  gap: 50px;
}

.content a {
  text-decoration: none;
  color: var(--main-text-color);
}

.delete_btn {
  position: absolute;
  font-size: 22px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.image {
  width: 192px;
  height: 166px;
}

.line {
  margin: 25px 0;
  border: 1px dotted var(--gray-color);
}

.amount_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  height: 40px;
  margin: 25px 0;
  padding: 10px 20px;
  border: 1px solid var(--gray-color);
  border-radius: 12px;
  gap: 30px;
  font-size: 18px;
}

.amount_sign {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wrapper {
  transition: left 1000ms;
  position: relative;
  left: 0;
}

.hide_block {
  left: -3000px;
}

@media (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
  }
}
