.wrapper {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 90px;
  margin-top: 50px;
}

.cart_items {
  width: 70%;
}

.detail_block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  max-width: 400px;
  height: 400px;

  border: 1px solid var(--gray-color);
  border-radius: 21px;

  padding: 25px;
}

.detail_block_locker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: var(--main-bg-color);
  z-index: 999;
  opacity: 0.7;
}

.detail_block > h2 {
  position: relative;
}

.clear_cart {
  color: var(--red-color);
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.total_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone_input {
  height: 75px;
  width: 100%;
  background-color: var(--white-color);
  color: var(--main-text-color);
  border: 1px solid var(--gray-color);
  border-radius: 20px;
  font-size: 30px;
  padding: 0 25px;
}

.order_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 100%;
  height: 75px;
  background-color: var(--green-color);
  color: var(--white-color);
  border-radius: 17px;
}

.line {
  width: 100%;
  border: 1px dotted var(--gray-color);
  margin-top: 30px;
}

@media (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 480px;
  }

  .cart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .detail_block {
    width: 460px;
    margin: 10px;
  }
}
