.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 18px;
  text-decoration: none;
  color: var(--main-text-color);
}

.card img {
  width: 322px;
  height: 240px;
}
