.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: stretch;
  align-self: stretch;
  align-items: center;
  width: 322px;
  overflow: hidden;
  gap: 25px;
  text-decoration: none;
  color: var(--main-text-color);
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 5px 5px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 5px 5px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transition: all 0.3s ease-out;
}

.wrapper:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  scale: 1.05;
}

.wrapper:hover .add_cart_btn {
  opacity: 1;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.image_block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  min-height: 290px;
}

.image {
  width: 100%;
  height: auto;
}

.add_cart_btn {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0 20px;
  width: calc(100% - 40px);
  bottom: 20px;
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 15px 25px;
  border-radius: 15px;
  transition: all 200ms;
}

.copy {
  transition: all 0.5s ease-out;
  position: absolute;
  opacity: 0.8;
  margin: 10px;
  scale: 1;
  z-index: 20;
}
