.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 25px;
  padding: 10px 0px;
  z-index: 9999;
}

.message_block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid var(--gray-color);
  border-radius: 0 15px 15px 0;
  padding: 15px 30px;
  background: #fff;
}

.success_block {
  border: 2px solid var(--message-bg-color);
  background: linear-gradient(90deg, #fff 95%, var(--message-bg-color) 95%);
}

.error_block {
  border: 2px solid var(--error-bg-color);
  background: linear-gradient(90deg, #fff 95%, var(--error-bg-color) 95%);
}

.title {
  font-size: 26px;
  border-bottom: 1px dotted var(--white-color);
}

.description {
  font-size: 16px;
}

.close_btn {
  color: var(--white-color);
  position: absolute;
  font-size: 18px;
  top: 5px;
  right: 7px;
  cursor: pointer;
}

.hide_block {
  transform: translateX(-650px);
  transition: all 0.5s;
}

@media (max-width: 480px) {
  .wrapper {
    width: 420px;
  }
  .close_btn {
    display: none;
  }
}