@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');

:root {
  --boby-bg-color: #f4f4f4;
  --main-bg-color: #fafafa;
  --main-text-color: #444;

  --card-bg-color: #e5faf0;

  --white-color: #fff;
  --gray-color: #8b8b8b;
  --green-color: #339933;
  --red-color: #ff3232;

  --message-bg-color: #477d54;
  --error-bg-color: #ff3232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--boby-bg-color);
  color: var(--main-text-color);

  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--green-color);
}

@media screen {
  body {
    width: 1280px;
    font-weight: 500;
    font-size: 16px;
    }
}

@media (max-width: 767px) {
  body {
    width: 767px;
    overflow-x: hidden;
    font-weight: 500;
    font-size: 20px;
    }
}

@media (max-width: 480px) {
  body {
    width: 480px;
    overflow-x: hidden;
    font-weight: 500;
    font-size: 24px;
    }
}
