.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.content a {
  text-decoration: none;
  color: var(--main-text-color);
}

.image {
  width: 75px;
  height: 75px;
}

.line {
  margin: 25px 0;
  border: 1px dotted var(--gray-color);
}

.wrapper {
  transition: left 1000ms;
  position: relative;
  left: 0;
}

@media (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
  }
}
