.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 322px);
  justify-content: space-around;
  justify-items: stretch;
  align-content: center;
  align-items: stretch;
  width: 100%;
  gap: 25px;
}
